/* ===== GLOBAL ===== */

body {
    background-color: #eee;
    min-width: 335px;
    width: auto !important;
    width: 335px;
}

header {
    overflow: hidden;
    z-index: 1000;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

h2 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    display: block;
}

.icon_burgerMenu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #eee;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#navabar_content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#navabar_content > ul{
    margin-left: 1em;
}

/* ===== RECHERCHE ===== */

#searchBar_l h2 {
    padding-top: 0.5em;
    width: 15%;
}

button,
input {
    margin: 0.25em;
}

.button-close {
    margin: 0;
    padding: 0;
    border: none;
}

#searchBar_l,
#searchBar_s {
    margin: 0;
    margin-top: calc(1em + 50px);
    width: 100%;
}

#searchBar_s {
    padding-right: 2em;
}

#searchBar_form_l,
#searchBar_form_s {
    padding: 1em;
    margin-right: 1em;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #fff;
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#searchBar_form_s {
    width: 100%;
    margin: 1em;
}

#searchBar_form_l>div>label,
#searchBar_form_s>div>label {
    margin: 0.25em;
}

#searchBar_form_s>div>select,
#searchBar_form_s>div>input {
    margin-right: 2em;
    margin-left: 1em;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 0.25em;
    text-align: center;
    margin: 1em;
}

.checkbox {
    display: inline-block;
    margin: 0;
    text-align: left;
}

.card table {
    text-align: left;
}

/* ===== ACCEUIL ===== */

.form-signin,
.form-register {
    max-width: 330px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.form-heading {
    margin-bottom: 10px;
}

.form-signin .button,
.form-register .button {
    margin-top: 15px;
}

.form-signin .checkbox,
.form-register .checkbox {
    font-weight: normal;
}

.form-signin,
.form-register {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

/* ===== RESERVATION ===== */

#reservation {
    margin: 0;
    margin-top: calc(1em + 50px);
    width: 100%;
}

.form-book {
    max-width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.form-book .form-heading{
    text-align: center;
    font-size: 2em;
}


/* ===== MES RESERVATION ===== */

#mes_reservation {
    margin: 0 auto 0 auto;
    margin-top: calc(1em + 50px);
    width: 80%;
}